# Ignore node_modules (these will be installed fresh during the Docker build)
node_modules

# Ignore build artifacts and temporary files

*.log
*.cache

# Ignore local environment and config files
.env
.vscode/
.DS_Store
